//<Адаптив>===========================================================================================================================================
@media (max-width: 1300px) {
	.slider-bg__swiper-button-block {
		left: 2%;}
}

@media (max-width: 1280px) {
	._container {
		padding: 0 10px;}
	.services__row {
		margin: 0 -10px;}
	.services__column {
		padding: 0px 10px 30px 10px;}
}

@media (max-width: 1160px) {
	.footer__menu a {
    padding: 5px 35px 5px 0;}
	.footer__menu {
		margin-bottom: 15px;}
	}

@media (max-width: 1150px) {
	.header__menu-list li a {
		padding: 5px 35px 5px 0;}
	.consult__title {
		margin-right: 20px;}
	.consult__subtitle {
		margin-right: 20px;}
	.services__column {
		flex: 0 1 33.333%;}
}

@media (max-width: 1100px) {
	.action {
		background-size: cover;
		background-position: 0 0;}
	.advant__item {
		flex: 0 1 23%;}
}

@media (max-width: 1024px) {
	.consult__row {
		flex-wrap: wrap;}
	.consult__title,
	.consult__subtitle {
		margin-bottom: 15px;}
}

@media (max-width: 1000px) {
	.header__logo {
		margin-right: 35px;}
	.header__contacts {
		flex: 0 0 365px;}
}

@media (max-width: 860px) {
	.logo-icon {
		flex: 0 0 100px;
		height: 55px;}
	.header__logo {
		margin-right: 20px;}
	.header__menu-list li a {
		font-size: 14px;
		padding: 2px 20px 2px 0;}
}

@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
	.header__logo {
		margin-right: 10px;}
	.logo-icon {
		flex: 0 0 60px;
    height: 35px;}
	.icon-menu {
		display: flex;}
	.header__menu-list {
		display: none;}
	.header__contacts {
		flex: 0 1 auto;
		margin-left: auto;
		margin-right: 25px;}
	.header__phone {
		font-size: 18px;}
  .header__popup-link {
  	display: none;}
  .header__popup-link_mob {
  	display: flex;
  	margin-left: 0;}
	section {
		padding: 20px 0 !important;}
	.title {
		margin-bottom: 15px;}
	::-webkit-scrollbar {
    display: none;}
	.slider-bg__slide {
		padding: 80px 0 60px 0;}
	.slider-bg__swiper-button-block {
		display: none;}
	.about__descp {
		padding: 0;}
	.services__row {
		width: auto;
		flex-wrap: nowrap;
		margin: 0 -5px;
		overflow: auto;}
	.services__column {
		flex: 0 0 36%;}
	.services__card-img {
		height: 160px;}
	.services__card-descp-title {
		font-size: 18px;
		margin-bottom: 10px;}
		.services__card-descp-list li {
		margin-bottom: 10px;}
	.services__card-descp {
		padding: 10px;}
	.services__column {
		padding: 0px 5px 30px 5px;}
	.action {
		height: 400px;}
	.advant__row {
		width: auto;
		overflow: auto;}
	.advant__item {
		flex: 0 0 35%;}
	.advant__item h3 {
		font-size: 16px;
		margin-bottom: 5px;}
	.advant__item p {
		font-size: 12px;}
	.advant-icon {
		width: 60px;
		height: 60px;
		margin-bottom: 8px;}
	.advant-icon-01:before {
		flex: 0 0 25px;
		height: 25px;}
	.advant-icon-02:before {
		flex: 0 0 20px;
		height: 23px;}
	.advant-icon-03:before {
		flex: 0 0 20px;
		height: 23px;}
	.advant-icon-04:before {
		flex: 0 0 25px;
		height: 25px;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
	.services__column {
		flex: 0 0 43%;}
	.advant__item {
		flex: 0 0 45%;}
}

@media (max-width: 515px) {
	.footer {
    padding: 20px 0;}
	.footer__row {
    flex-direction: column;}
	.footer__menu {
		flex-direction: column;}
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
	.footer__info {
		flex-wrap: wrap;}
	.footer__info-policy {
		flex: 0 1 100%;
		margin-top: 5px;}
	.services__column {
		flex: 0 0 55%;}
}

@media (max-width: 480px) {
	.header__search {
    display: none;
	}
	.header__mob-search-btn {
    display: flex;
	}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
	}
	.search__input {
    border-radius: 0 !important;
	}
	.advant__item {
		flex: 0 0 60%;}
}

@media (max-width: 414px) {
	.services__column {
		flex: 0 0 65%;}
	.action__link,
	.consult__btn {
		width: 100%;}
}

@media (max-width: 375px) {
	.header__phone {
    font-size: 14px;
		line-height: 1;}
	.header__contacts {
		margin-right: 15px;}
	.header__social-link {
		margin-right: 10px;}
	.services__column {
		flex: 0 0 75%;}
	.advant__item {
		flex: 0 0 65%;}
}