//<Адаптив>===========================================================================================================================================
@media (max-width: 1280px) {
	._container {
		padding: 0 10px; 
	}
}

@media (max-width: 1160px) {
	.footer__menu a {
    padding: 5px 35px 5px 0;}
	.footer__menu {
		margin-bottom: 15px;}
	}

@media (max-width: 1150px) {
	.header__menu-list li a {
		padding: 5px 35px 5px 0;}
}

@media (max-width: 1000px) {
	.header__logo {
		margin-right: 35px;}
	.header__contacts {
		flex: 0 0 365px;}
}

@media (max-width: 860px) {
	.logo-icon {
		flex: 0 0 100px;
		height: 55px;}
	.header__logo {
		margin-right: 20px;}
	.header__menu-list li a {
		font-size: 14px;
		padding: 2px 20px 2px 0;}
}

@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
	.header__logo {
		margin-right: 10px;}
	.logo-icon {
		flex: 0 0 60px;
    height: 35px;}
	.icon-menu {
		display: flex;}
	.header__menu-list {
		display: none;}
	.header__contacts {
		flex: 0 1 auto;
		margin-left: auto;
		margin-right: 25px;}
	.header__phone {
		font-size: 18px;}
  .header__popup-link {
  	display: none;}
  .header__popup-link_mob {
  	display: flex;
  	margin-left: 0;}
	section {
		padding: 20px 0 !important;}
	.title {
		margin-bottom: 15px;}
	::-webkit-scrollbar {
    display: none;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
}

@media (max-width: 515px) {
	.footer {
    padding: 20px 0;}
	.footer__row {
    flex-direction: column;}
	.footer__menu {
		flex-direction: column;}
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
	.footer__info {
		flex-wrap: wrap;}
	.footer__info-policy {
		flex: 0 1 100%;
		margin-top: 5px;}
}

@media (max-width: 480px) {
	.header__search {
    display: none;
	}
	.header__mob-search-btn {
    display: flex;
	}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
	}
	.search__input {
    border-radius: 0 !important;
	}
}

@media (max-width: 375px) {
	.header__phone {
    font-size: 14px;
		line-height: 1;}
	.header__contacts {
		margin-right: 15px;}
	.header__social-link {
		margin-right: 10px;}
}